@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
}

* {
  scroll-behavior: smooth;
  outline: none;
}

input[type="number"] {
  letter-spacing: 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "vazir";
  src: url(/public/fonts/vazirmatnfd.woff2);
}

@custom-variant dark (&:where(.dark,.dark *));

@utilities {
  /*
    .flex-center {
      @apply flex justify-center items-center;
    }
  */
}

@theme {
  /* colors */
  --color-primary: #fe7d6d;
  --color-secondary: #333333;
  --color-border: #dadada;
  --color-place-holder: #aaaaaa;
  --color-background: #fcfbfc;
  --color-purple: #e2d7fd;
  --color-chips-gray: #d3dbe2;
  --color-chips-red: #fee5e4;
  --color-chips-yellow: #fdf2cd;
  --color-chips-purple: #eae0ff;

  --color-ired: indianred;
  --color-msg: mediumseagreen;

  /* fonts */
  --font-vazir: "vazir";
}

@layer base {
  h3 {
  }
  p {
  }
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border: none;
}

select::picker-icon {
  display: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}
option:last-of-type {
  border-radius: 0 0 8px 8px;
}
option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  @apply bg-blue-500 text-white;
}

@layer components {
  .text-input {
    @apply w-full placeholder:text-place-holder bg-white pb-3 pt-4 px-4 border-1 rounded-xl text-secondary border-border transition duration-200 ease-in-out;
  }

  .btn {
    @apply rounded-xl transition duration-200 cursor-pointer hover:opacity-80 px-5 pt-2 pb-1.5;
  }

  .small-btn {
    @apply rounded-md transition duration-200 cursor-pointer hover:opacity-80 px-5 pt-1 pb-0.5;
  }

  .btn--primary {
    @apply bg-primary text-white;
  }

  .btn--secondary {
    @apply bg-transparent border-primary border-1 text-secondary;
  }
}

:root {
  @apply font-vazir bg-background  text-secondary;
}

/* custom radio */
.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}

.l-radio:hover,
.l-radio:focus-within {
  background: rgba(108, 117, 125, 0.08);
}

.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1.5px #6c757d; /* $seconday */
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}

.l-radio input:focus {
  outline: none;
}

.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #007bff; /* $primary */
}

.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  transform: translateY(1px);
  padding: 0 8px;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
}

table td,
table th {
  border-bottom: 1px solid #f3f4f6;
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: var(--color-secondary);
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: var(--color-secondary);
}
