@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
}

* {
  scroll-behavior: smooth;
  outline: none;
}

input[type="number"] {
  letter-spacing: 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "vazir";
  src: url(/public/fonts/vazirmatnfd.woff2);
}

@custom-variant dark (&:where(.dark,.dark *));

@utilities {
  /*
    .flex-center {
      @apply flex justify-center items-center;
    }
  */
}

@theme {
  /* colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-400: var(--secondary-400);
  --color-border: var(--border);
  --color-place-holder: var(--place-holder);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-purple: var(--purple);
  --color-blue: var(--blue);
  --color-chips-gray: var(--chips-gray);
  --color-chips-red: var(--chips-red);
  --color-chips-yellow: var(--chips-yellow);
  --color-chips-purple: var(--chips-purple);

  --color-msg: var(--msg);
  --color-ired: indianred;

  /* fonts */
  --font-vazir: "vazir";
}

:root {
  --primary: #e97666;
  --secondary: #333333;
  --secondary-400: #696d70;
  --border: #dadada;
  --place-holder: #aaaaaa;
  --background: #edeff3;
  --card: white;
  --purple: #e2d7fd;
  --chips-gray: #d3dbe2;
  --chips-red: #fee5e4;
  --chips-yellow: #fdf2cd;
  --chips-purple: #eae0ff;
  --msg: mediumseagreen;
  --blue: #4584e4;
}

.dark {
  --primary: #b86054;
  --card: #242525;
  --secondary: #e2e2e2;
  --secondary-400: #8a8d92;
  --border: #464646;
  --place-holder: #7c868d;
  --background: #313436;
  --purple: #756696;
  --chips-gray: #434d55;
  --chips-red: #9b7876;
  --chips-yellow: #928762;
  --chips-purple: #635680;
  --msg: #2a8050;
  --blue: #73a9d4;
}

select,
::picker(select) {
  appearance: base-select;
  padding: 10px 20px 8px 20px;
}

::picker(select) {
  border: none;
  background-color: transparent;
  margin-top: -6px;
  margin-bottom: -6px;
}

select::picker-icon {
  display: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  border: 2px solid var(--color-border);
  background: var(--card);
  padding: 10px 20px 10px 40px;
  transition: 0.2s;
  cursor: pointer;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}
option:last-of-type {
  border-radius: 0 0 8px 8px;
}
option:not(option:last-of-type) {
  border-bottom: none;
}

option:hover,
option:focus {
  @apply bg-primary text-white;
}

option:checked {
  @apply text-white;
}

@layer components {
  .text-input {
    @apply w-full placeholder:text-place-holder bg-card pb-3 pt-4 px-4 border-1 rounded-xl text-secondary border-border transition duration-200 ease-in-out;
  }

  .btn {
    @apply rounded-xl transition duration-200 cursor-pointer hover:opacity-80 px-5 pt-2 pb-1.5;
  }

  .small-btn {
    @apply rounded-md transition duration-200 cursor-pointer hover:opacity-80 px-5 pt-1 pb-0.5;
  }

  .btn--primary {
    @apply bg-primary text-white;
  }

  .btn--secondary {
    @apply bg-transparent border-primary border-1 text-secondary;
  }
}

:root {
  @apply font-vazir bg-background  text-secondary;
}

/* custom radio */
.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}

.l-radio:hover,
.l-radio:focus-within {
  background: rgba(108, 117, 125, 0.08);
}

.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1.5px #6c757d; /* $seconday */
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}

.l-radio input:focus {
  outline: none;
}

.l-radio input:checked {
  box-shadow: inset 0 0 0 6px var(--color-primary); /* $primary */
}

.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  transform: translateY(1px);
  padding: 0 8px;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
}

table td,
table th {
  border-bottom: 1px solid var(--color-border);
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: var(--color-secondary);
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: var(--color-secondary);
}
